html {
  background: #fffdf5;
}


h1 {
  font-family: "Courier New";
  font-size: 350%;
  border: 8px solid #e8bd10;
  padding: 30px;
  display: inline-block;
  /* margin: 75px; */
  background: #fffdf5;
}

h2 {
  font-family: "Courier New";
  font-size: 200%;
  display: inline-block;
  /* margin: 75px; */
}

.question {
  /* text-align: left; */
  font-family: "Courier New";
  font-size: 2.0em;
  font-weight: bold;
  /* font-style: italic; */
  /* line-height: 20; */
  /* background: #fffdf5; */
  padding-left: 30px;
  border-bottom: 5px solid black;
  padding-bottom: 50px;
}

p {
  text-align: center;
  font-family: "Courier New";
  /* font-size: 42px; */
  /* font-style: italic; */
  /* background: #fffdf5; */
}

.q1choice, .q2choice, .q3choice {
    margin-left: 100px;

}

.person_div {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  display: inline-block;
  margin-right: 10px;
  border-radius: 10px;
}

.filled {

  background-color: blue;
}
